@import './variable.scss';

.category {
  a {
    padding: 0 10px;
    color: $primary-color;
  }
  a:hover {
    text-decoration: none;
    color:  #be063d;
  }
}


.modal-content {
  width: 85%;
  height: 70vh;
  margin: auto;
  .modal-body {
    height: 35vh;
    flex: none;
  }
  .modal-header {
    .logo {
      margin: 0 0 0 80px;
    }
    .close {
      padding: 0 0 15px 70px;
      margin: 0;
      display: inline-block;
      button { 
        display: inline-block;
        outline: none;
        position: relative;
        border: none;
        background: none;
      }
    }
  }
  .submit{
    background: $primary-color;
    border-color: $primary-color;
    width: 100%;
  }
  .goto-sign-up {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    a {
      color: $primary-color;
    }
  }
  .btn-primary:hover {
    background-color: $primary-color-hover;
  }
}

  