@import './variable.scss';

.btn-review{
    font-size: 1.25rem;
    color: black;
    border:white
}

.dummy-pic{
    border: 1px gray solid;
    border-radius: 4px;
    padding: 1rem;
    background-color: darkgray;
    
}
